 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Balinese&family=Playfair+Display:ital@1&display=swap');
/*Asterisk wildcard selector to override default styles added by browser*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: lightpink;
    font-family: 'Noto Serif Balinese', serif;
}

h1 {
    color: lightpink;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

/* Header */
header {
    background-color: rgb(94, 84, 159);
    
}

header a {
    text-decoration: none;
}

/* Main Content */
main {
    background-color: lightpink;
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: blueviolet;
}